// poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// functions
@import "../node_modules/bootstrap/scss/functions";

// Global variables
$enable-rounded: false;
$enable-gradients: true;

// theme color variables

$primary: #26e95f;
$secondary: #2f3832;
$light: #eaf2ff;

// gradient
// $gradient: linear-gradient(to right, #26e95f, #178036);s

// font family
$font-family-base: "Poppins";
$headings-font-family: "Noto Serif";

$font-size-base: 1rem;

// heading
$headings-font-weight: 600;
// variables file
// mixins file
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// add custom colors to them
$custom-colors: (
  "green": #178036,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// import bootstrap whole sass lib
@import "../node_modules/bootstrap/scss/bootstrap";
